*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

/* HEADER AND THE NAV BAR */
body{
    min-height: 100vh;
}

.logo{
    width:200px;
    height:150px;
    padding-left: 30px;
}

.section-main{
    position: relative;
    width: 100%;
    min-height: 60vh;
    background: url("https://i.pinimg.com/474x/0e/ad/e1/0eade1f76a3f4720666face2fd23cbea.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.section-main h1{
    color: #6f1d1b;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    padding-top: 100px;
}

header{
    z-index: 999;
    /* background-color: transparent; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* overflow: hidden; */
}

header.sticky{
    /* change this color */
    background: #BFC4B0; 
    padding: 15px 100px;
}


header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px 10px 10px;
    margin-right: 50px;
    border-radius: 20px;
    color: #6f1d1b;
}

header .menu a:hover{
    color: #000;
    background: #b76935;
}

header .btn{
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.section-two{
    min-height: 100vh;
    /* change this color */
    /* background: #F6AC6D;  */
    padding: 20px 100px;
    text-align: center;
}

#t{
    color: #6f1d1b;
}
.section-two h2{
    color: #6f1d1b;
    font-size: 50px;
    font-weight: 700px;
    text-transform: uppercase;
    margin: 30px 0;
}

.section-two p{
    color: #1B6D6F;
    font-size: 18px;
    margin: 30px 0;
    line-height: 2;
}

@media(max-width: 1060px)
{
    header .btn{
        display: block;
    }

    header .menu{
        position: fixed;
        background: #F6AC6D;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    header .menu.active{
        right:0;
    }

    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}

@media (max-width: 1060px){
    .section-main h1{
        font-size: 50px;
        line-height: 60px;
    }
}

/* ---------------------------------------------------------------------------------------------- */

/* THE TYPES OF TRAVEL */
.types{
    width: 100%;
    margin:auto;
    text-align: center;
    padding: 20px 100px 10px 100px;
    /* background: #F6AC6D;  */
  }
  
  h1{
    color: #6f1d1b;
    font-size: 50px;
    font-weight: 700px;
    font: bold;
    }
  
  p{
    color: #1B6D6F;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px; 
  }
  

  #q{color: rgb(120, 6, 120);
font-weight: 800;
font-size: 18px;}

  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .types-col{
    flex-basis: 31%;
    width: 2000px;
    /* background: #fff3f3; */
    background: #edd0ce;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #6f1d1b;
  }

  .types-col ul li{
    color: #1B6D6F;
    padding: 10px;
  }
  
  .types-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
  
  .types .row{
    padding: 20px 100px 20px 100px;
  }
  
  @media(max-width: 1060px){
    .row{
      flex-direction: column;
    }
  }
  /* -------------------------------------------------------------------------------------------------------- */

  /* THE SEASONAL */

  .seasonal{
    width: 80%; /* gives space on right and left side */
    margin: auto; /* create space around elements, outside of any defined borders.  */
    text-align: center;
    padding-top: 50px; /* space from top */
  }
  
  .seasonal-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .seasonal-col img{
    width: 100%;
    display: block;
  }
  
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
  }
  
  .layer:hover{
    background: rgba(226,0,0,0.7);
     /* This background attribute is an extension of RGB color values with an alpha channel - which specifies the opacity for a color */
  }
  
  .layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
   /*bottom and center from the x-axis*/
   position: absolute;
  }
  
  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  }
  /* ------------------------------------------------------------------------------------------------------------------------ */

  /* THE TOOLS */
  .tools{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .tools-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;  
  }
  
  .tools-col img{
    width: 80%;
    border-radius: 10px;
  }
  
  .tools-col p{
    padding: 0;
  }
  
  .tools-col h{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }

  #p{
    color: #1B6D6F;
    font-weight: 800;
    font-size: 16px;
  }
    /* ------------------------------------------------------------------------------------------------------------------------ */

    /* FOOTER */
    .footer{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 5px;
      }
      
      .footer h4{
        margin-bottom: 25px;
        /* margin-top: 20px; */
        font-weight: 600;
        font-size: 36px;
        color: #6f1d1b;
      }
      
      
      p{
        color: #77f;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px; 
      }
      
      .icons .fa{
        color: #f44336;
        margin: 0 13px;
        margin-top: 30px;
        cursor: pointer;
        padding: 18px 0; 
      }
      
      /* SIGN UP FORM */
      
      /* Full-width input fields */
        input[type=text], input[type=password] {
        width: 80%;
        padding: 15px;
        margin: 5px 10px 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
      
      input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      
      .sign-up-form{
        width: 310px;
        border-radius: 10px;
        margin-bottom: 5%;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: #fff3f3;
        padding: 20px 12px;
        margin: 18px 0 10px 0px;
        text-align: center;
        padding-bottom: 30px;
        box-sizing: border-box;
        transition: 0.5s;
      }
      
      .sign-up-form h1{
        margin-top: 0px;
        /* margin-right: 10px; */
        margin-bottom: 5px;
        text-align: center;
        font-weight: 600;
      }
      
      
      .input-box{
        border-radius: 20px;
        padding: 10px;
        margin: 10px 0;
        width: 80%;
        border: 1px solid #999;
        outline: none;
      }
      
      button {
        background-color: #04AA6D;
        color: #fff;
        padding: 14px 20px;
        margin: 10px 0;
        border-radius: 20px;
        font-size: 15px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border: none;
      }
      
      button:hover {
        opacity:1;
      }
      
      
      /* Extra styles for the cancel button */
      .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
        float: left;
        width: 50%;
      }
      
      .signup-btn{
        background-color: #1c8adb;
      }
      
      .gmail-btn{
        background-color: #21afde;
      }
      
      /* Float cancel and signup buttons and add an equal width */
      .cancelbtn, .signupbtn {
        float: left;
        width: 100%;
      }
      
      /* Clear floats */
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
      
      /* Change styles for cancel button and signup button on extra small screens */
      @media screen and (max-width: 1060px) {
        .cancelbtn, .signupbtn {
          width: 80%;
        }
      }
      
      
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 15px;
        width: 80px;
        margin-top: 20px;
      }
      
      
      a{
        text-decoration: none;
      }
      
      
      .or{
        background: #fff;
        width: 30px;
        margin: -19px auto 10px;
      }
      
      
      .para{
        padding: 0px 100px 10px 0px;
      }
      .row1{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
      }
      
      
      .box{
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 10px 12px;
        box-sizing: border-box;
        transition: 0.5s;
      }

      /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
      

  /* REVIEWS */

  #hero-btn{
    /* display: inline-block; */
    text-decoration: none;
    color: #6f1d1b;
    padding-bottom:100px;
    border: 1px solid #fff;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
      
  .testimonials{
    width: 100%;
    margin: auto;
    padding: 20px 100px 20px 0px;
    text-align: center;
  }
  
  .testimonials p{
    padding: 30px 0px 30px 0px;
    color: #b76935;
    font-weight: 900;
    font-size: 18px;
  }

  .testimonials p{
    padding: 50px 0px 10px 0px;
  }

  .testimonial-col{
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    display: flex;
  }
  
  /* .testimonial-col a{
    padding-bottom:100px;
  } */
  
  .testimonial-col img{
    height: 100px;
    width: 40vh;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
  }
  
  .testimonial-col p{
    padding-top: 10px;
  }
  
  .testimonial-col h3{
    margin-top: 15px;
    text-align: left;
  }
  
  .testimonial-col .fa{
    color: #f44336;
  }
  
  @media(max-width: 1060px)
  {
    .testimonial-col img{
      margin-left: 0px;
      margin-right: 15px;
    }
  }
/* ------------------------------------------------------------------------------------------------------------------------ */

/* BOTTOM FOOTER */
.footer1{
    font-weight: 900;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    color: red;
    display: flex;
  }
  
  .footer1 div{
    text-align: center;
    background-color:#ffb4a2;
  }
  
   
  .col-1 a{
    padding-left: 170px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    text-decoration: none;
    color:#6f1d1b;
    margin-bottom: 10px;
  }


  .col-2{
    flex-grow: 2;
    font-size: 16px;
  }

  .col-3{
    padding-top: 10px;
    padding-right: 170px;
    font-size: 16px;
  }


  .col-2 h3, .col-3 h3{
    color: #6f1d1b;
    font-weight:900;
  }
  

  .data4{
    color: #333d29;
    padding: 10px;
  }
  
  .data1{
    color: #ffb4a2;
    width: 400px;
    
  }

  .data1:hover{
    background-color: #b3563f;
  }
 
  

  
.footer1 div h3{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    background-color: #ffb4a2;
  }
  
  
  form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
  }
  
  form button{
    background: transparent;
    border: 5px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding-right: 10px;
    padding-left:10px;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------ */
